In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/Affinity - City - Daily.csv')

In [4]:
df.head()

,year,month,day,cityid,freq,spend_acf,spend_aer,spend_all,spend_apg,spend_grf,spend_hcs,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,provisional
0,2020,1,1,1,d,.,.,.,.,.,.,.,.,.,0
1,2020,1,1,2,d,.,.,.,.,.,.,.,.,.,0
2,2020,1,1,3,d,.,.,.,.,.,.,.,.,.,0
3,2020,1,1,4,d,.,.,.,.,.,.,.,.,.,0
4,2020,1,1,5,d,.,.,.,.,.,.,.,.,.,0

In [5]:
df.loc[:, 'provisional'] != 0

0        False
1        False
2        False
3        False
4        False
         ...
20598     True
20599     True
20600     True
20601     True
20602     True
Name: provisional, Length: 20603, dtype: bool

In [6]:
df.loc[df.loc[:, 'provisional'] != 0]

,year,month,day,cityid,freq,spend_acf,spend_aer,spend_all,spend_apg,spend_grf,spend_hcs,spend_tws,spend_retail_w_grocery,spend_retail_no_grocery,provisional
19886,2021,2,22,1,d,-.229,-.537,-.0345,.0211,.151,.192,-.509,.146,.145,1
19887,2021,2,22,2,d,-.313,-.59,-.0826,-.107,.148,.277,-.466,.0925,.0689,1
19888,2021,2,22,3,d,-.332,-.353,-.053,-.0578,.19,-.202,-.467,.156,.142,1
19889,2021,2,22,4,d,-.154,-.393,-.0441,-.0401,.413,-.112,-.419,.156,.115,1
19890,2021,2,22,5,d,-.1,-.323,.0718,.0736,.149,.106,-.381,.232,.267,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20598,2021,3,14,49,w,-.331,-.453,.0202,.00671,.227,-.179,-.471,.207,.202,1
20599,2021,3,14,50,w,-.134,-.0534,-.0245,.0431,.253,.127,-.243,.164,.13,1
20600,2021,3,14,51,w,-.136,-.347,.0471,.00389,.121,.0584,-.203,.197,.228,1
20601,2021,3,14,52,w,-.29,-.56,.0398,-.0518,.237,.0565,-.271,.0961,.0381,1
20602,2021,3,14,53,w,-.361,-.653,-.284,-.35,-.223,-.416,-.61,-.243,-.256,1

In [7]:
yr = df.loc[:, 'year']
mo = df.loc[:, 'month']
dy = df.loc[:, 'day']
date = [yr, mo, dy]

In [8]:
pd.to_datetime(date)  # need to join first 3 cols into single date time to join with other csv's

TypeError: arg must be a string, datetime, list, tuple, 1-d array, or Series